{% extends 'base.html' %}
  {% block title %} Edit A Pet {% endblock %}
{% block content %}
  <h1>Edit info for {{name}}</h1>
  <form id="pet-edit-form" method="POST">
    {{form.hidden_tag()}}

    {% for field in form 
           if field.widget.input_type != 'hidden' %}
      <p>
        {{field.label}}
        {{field}}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>
    {% endfor %}

    <button type="submit">Submit</button>

  </form>

{% endblock %}